body {
  background-color: hsl(212, 45%, 89%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 600px; 
  border-radius: 2vh;
  padding: 100px;
  box-shadow: 1px 1px 1px #bebcbc;
  margin-top: 150px;
}

.center img {
  
  display: block;
  margin: auto;
  width: 50%;
  max-width: 50%;
  border-radius: 5vh;
}

p, h1 {
  font-size: 16px;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .center {
      width: 90%; 
  }
}
