
.nav-img{
    width: 80px;
    height: 50px;
    margin-left: 15px;
}
.home{
    margin-top: 150px;
}
.quem-somos {
    margin-top: 420px;
    margin-left: 100px; 
    margin-right: auto; 
    padding-top: 110px;
}
.parceiros{
    margin-top: 200px;
}
.parceirostitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}


.parceiros-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}


.parceiros-card {
    width: 30%; 
    height: 300px;
    border-radius: 10px;
    border: 1px solid #63636494;
    box-sizing: border-box; 
}
.sejaparceiro{
    width: 150px;
    border-radius: 50%;
}
.parceiros-cardsub {
    padding: 15px;
    text-align: center;
}
.txt-card{
    text-align: center;
    margin-top: 220px;
}
.txt-card1{
    text-align: center;
}
.img-custom {
    width: 500px; 
    height: 200px;
}
.margin{
    padding-top: 50px;
}
.card-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 10px; 
    padding: 0;
    margin-top: 80px; 
}
.card {
    margin-left: 5px; 
    padding: 3px; 
}

.cpanel {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    max-width: 1200px; 
    margin: 40px auto; 
    background-color: #dee2e76c; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.cpanel img {
    max-width: 40%; 
    margin-left: 20px; 
    border-radius: 10px;
}

.cpanel .content {
    max-width: 50%; 
}

.cpanel h1 {
    margin-bottom: 10px;
}

.cpanel p {
    margin-bottom: 20px;
}

.cpanel-left {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    max-width: 1200px; 
    margin: 40px auto; 
    background-color: #c7d3f3;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.cpanel-left img {
    max-width: 40%; 
    margin-right: 20px; 
    border-radius: 10px;
}

.cpanel-left .content {
    max-width: 50%; 
    margin-left: 10px;
}
.small-font-list {
    font-size: 0.9rem; 
    line-height: 1.5;
}

.cpanel-left h1 {
    margin-bottom: 10px;
}

.cpanel-left p {
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.custom-card {
    flex: 1 0 18rem;
    margin: 10px; 
}
.card-text{
    font-size: 12px;
}

.contato-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 50px ;
}

.contato-form {
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-control {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-lg {
    display: block;
    width: 100%; 
    padding: 10px;
    font-size: 1.2rem;
}
.footer{
    margin-top: 50px;
}
.footer-img {
    width: 30px;
    height: auto; 
}
.d-flex{}